<md-content layout-padding>
    <header layout="row">
        <h1>
            Proyectos
        </h1>
        <span flex></span>
        <div>
            <md-button class="md-primary md-raised" ng-click="$ctrl.addOrEdit({id: null, name: '', status: true}, $event, 'add')"> Añadir nuevo proyecto </md-button>
        </div>
    </header>

    <section ng-if="$ctrl.projects.length > 0">
        <header layout="row">
            <h2 flex="50" layout-margin>Nombre</h2>
            <h2 flex layout-margin>Estatus</h2>
            <span flex></span>
        </header>

        <md-divider></md-divider>

        <article ng-repeat="project in $ctrl.projects">
            <div layout="row">
                <p flex="50" layout-margin> {{ project.name }} </p>
                <p flex layout-margin>
                    {{ project.status === true ? 'Activo' : 'Inactivo' }}
                </p>
                <span flex></span>
                <div>
                    <md-button class="md-fab md-primary md-mini" ng-click="$ctrl.addOrEdit(project, $event, 'edit')">
                        <md-icon>edit</md-icon>
                        <md-tooltip>
                            Editar
                        </md-tooltip>
                    </md-button>
                </div>
            </div>
            <md-divider></md-divider>
        </article>
    </section>

    <no-registers-found type-of-registers="proyectos" ng-if="$ctrl.projects.length === 0"></no-registers-found>
</md-content>