<md-content layout-padding>
    <header layout="row">
        <h1>
            Usuarios
        </h1>
        <span flex></span>
        <div>
            <md-button class="md-primary md-raised" ng-click="$ctrl.addOrEdit($ctrl.getNewUser(), $event, 'add')"> Añadir nuevo usuario </md-button>
        </div>
    </header>

    <section>
        <header layout="row">
            <h2 flex="30" layout-margin>Nombre</h2>
            <h2 flex="15" layout-margin>Usuario</h2>
            <h2 flex="15" layout-margin>Institución</h2>
            <h2 flex="15" layout-margin>Tipo de usuario</h2>
            <h2 flex layout-margin>Estatus</h2>
            <span flex></span>
        </header>

        <md-divider></md-divider>

        <article layout="row" layout-align="start center" ng-repeat="user in $ctrl.users | orderBy: 'name'">
            <p flex="30" layout-margin> {{ user.name }} </p>
            <p flex="15" layout-margin>
                {{ user.userName }}
            </p>
            <p flex="15" layout-margin>
                {{ user.institution }}
            </p>
            <p flex="15" layout-margin>
                {{ user.idUserType | UserTypeFilter }}
            </p>
            <p flex layout-margin>
                {{ user.status | Active }}
            </p>
            <span flex></span>
            <co-password-handler user="user" is-admin="true"></co-password-handler>
            <div>
                <md-button class="md-fab md-primary md-mini" ng-click="$ctrl.addOrEdit(user, $event, 'edit')">
                    <md-icon>edit</md-icon>
                    <md-tooltip>
                        Editar
                    </md-tooltip>
                </md-button>
            </div>
        </article>
        <md-divider></md-divider>
    </section>
</md-content>