<md-dialog>
    <form name="passwordHandlerForm">
        <md-dialog-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h4 ng-if="$ctrl.isAdmin">Cambiar contraseña de {{ $ctrl.user.name }}</h4>
                    <h4 ng-if="!$ctrl.isAdmin">Cambiar mi contraseña</h4>
                </div>
            </md-toolbar>

            <md-content layout-padding>
                <div layout="column">
                    <md-input-container ng-if="!$ctrl.isAdmin">
                        <label>Contraseña actual</label>
                        <input ng-model="$ctrl.form.password" name="password" required minlength="4" md-maxlength="255" type="password" pattern="^[A-Za-z0-9]{4,255}$">
                        <div ng-messages="passwordHandlerForm.password.$error">
                            <div ng-message="required">Es un campo requerido</div>
                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                            <div ng-message="md-maxlength">Máximo 255 caracteres</div>
                            <div ng-message="pattern">La contraseña no incluye espacios</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Nueva contraseña</label>
                        <input ng-model="$ctrl.form.newPassword" name="newPassword" required minlength="4" md-maxlength="255" type="password" pattern="^[A-Za-z0-9]{4,255}$">
                        <div ng-messages="passwordHandlerForm.newPassword.$error">
                            <div ng-message="required">Es un campo requerido</div>
                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                            <div ng-message="md-maxlength">Máximo 255 caracteres</div>
                            <div ng-message="pattern">La contraseña no debe incluir espacios</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Confirmar contraseña</label>
                        <input ng-model="$ctrl.form.confirmPassword" name="confirmPassword" required minlength="4" md-maxlength="255" type="password"
                            pattern="\b{{ $ctrl.form.newPassword }}\b">
                        <div ng-messages="passwordHandlerForm.confirmPassword.$error">
                            <div ng-message="required">Es un campo requerido</div>
                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                            <div ng-message="md-maxlength">Máximo 255 caracteres</div>
                            <div ng-message="pattern">No coincide la contraseña</div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button md-no-ink class="md-primary" ng-click="$ctrl.$mdDialog.cancel()">
                Cancelar
            </md-button>
            <md-button class="md-primary md-raised" ng-click="$ctrl.$mdDialog.hide($ctrl.form)" ng-disabled="passwordHandlerForm.$invalid || $ctrl.form.newPassword !== $ctrl.form.confirmPassword">
                Cambiar contraseña
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>