.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.align-left {
    text-align: left;
}

/* start 'enter' transition */
.main-view.ng-enter, .co-toolbar.ng-enter, .co-footer.ng-enter {
    /* transition on enter for .5s */
    transition: 1.5s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition*/
.main-view.ng-enter-active, .co-toolbar.ng-enter-active, .co-footer.ng-enter-active {
    opacity: 1;
}

.regular-max-height {
    max-height: 500px;
    overflow-y: auto;
}

.no-border-radius {
    border-radius: 0;
}

.square.small {
    width: 40px;
    height:auto;
}

.square.medium {
    width: 200px;
    height:auto;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.login-form {
    min-width: 500px;
}

.full-width {
    width: 100%;
}

md-toast {
	left: calc(50vw - 150px);
}