<md-content>
    <header layout="row" layout-margin>
        <h1>Búsqueda de archivos</h1>
        <span flex></span>
        <div>
            <md-button class="md-primary md-raised" ng-click="$ctrl.addOrEditFile($event, 'add')" ng-if="$ctrl.userInfo.privacyType === 1 || $ctrl.userInfo.privacyType === 2">
                Subir archivo
                <md-icon>add</md-icon>
            </md-button>
        </div>
    </header>

    <!-- Search -->
    <section layout-margin>
        <md-tabs md-stretch-tabs="always" md-dynamic-height="true">
            <!-- Simple search -->
            <md-tab label="Búsqueda simple" ng-click="$ctrl.resetResults()">
                <br>
                <form action="simpleSearchForm">
                    <aside layout="row" layout-align="start center" layout-wrap ng-show="$ctrl.showSimpleSearchFilters">
                        <!-- Only files uploaded by self user -->
                        <section flex="15">
                            <md-checkbox class="md-primary" ng-model="$ctrl.filters.simple.uploadedByMe" aria-label="Archivos creados por mí">
                                Sólo archivos subidos por mí
                            </md-checkbox>
                        </section>

                        <!-- Title -->
                        <section flex="20">
                            <md-input-container class="md-block">
                                <label>Título</label>
                                <input ng-model="$ctrl.filters.simple.name" name="name" md-maxlength="100" minlength="4">
                                <div ng-messages="simpleSearchForm.name.$error">
                                    <div ng-message="minlength">Mínimo 4 caracteres</div>
                                    <div ng-message="md-maxlength">Máximo 100 caracteres</div>
                                </div>
                            </md-input-container>
                        </section>

                        <!-- Author -->
                        <section flex="20">
                            <md-input-container class="md-block">
                                <label>Autor</label>
                                <input ng-model="$ctrl.filters.simple.author" name="author" md-maxlength="100" minlength="4">
                                <div ng-messages="simpleSearchForm.author.$error">
                                    <div ng-message="minlength">Mínimo 4 caracteres</div>
                                    <div ng-message="md-maxlength">Máximo 100 caracteres</div>
                                </div>
                            </md-input-container>
                        </section>

                        <!-- Project -->
                        <section flex="15">
                            <md-input-container class="md-block">
                                <label>Proyecto</label>
                                <md-select ng-model="$ctrl.filters.simple.idComunarrProject">
                                    <md-option ng-repeat="project in $ctrl.comunarrProjects" ng-value="{{ project.id }}">
                                        {{ project.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </section>

                        <!-- Collective -->
                        <section flex="15">
                            <md-input-container class="md-block">
                                <label>Colectivo</label>
                                <md-select ng-model="$ctrl.filters.simple.idCollective" ng-disabled="!$ctrl.filters.simple.idComunarrProject">
                                    <md-option ng-repeat="collective in $ctrl.collectives | filter: { idComunarrProject: $ctrl.filters.simple.idComunarrProject }"
                                        ng-value="{{ collective.id }}">
                                        {{ collective.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </section>

                        <!-- General topics -->
                        <section flex="15">
                            <md-input-container class="md-block">
                                <label>Tema general</label>
                                <md-select ng-model="$ctrl.filters.simple.idGeneralTopic">
                                    <md-option ng-repeat="generalTopic in $ctrl.generalTopics" ng-value="{{ generalTopic.id }}">
                                        {{ generalTopic.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </section>
                    </aside>

                    <aside layout="row" layout-padding layout-align="start center">
                        <div>
                            <md-checkbox class="md-primary" ng-model="$ctrl.showSimpleSearchFilters" aria-label="mostrar filtros">
                                Mostrar filtros
                            </md-checkbox>
                        </div>
                        <span flex></span>
                        <div>
                            <md-button class="md-primary md-raised" ng-click="$ctrl.search('simple')" ng-disabled="!$ctrl.isAtLeastOneFilterSelected($ctrl.filters.simple)">
                                Buscar </md-button>
                        </div>
                    </aside>
                </form>
            </md-tab>

            <!-- Specific search -->
            <md-tab label="Búsqueda específica" ng-click="$ctrl.resetResults()">
                <br>
                <form name="specificSearchForm">
                    <aside layout="row" ng-show="$ctrl.showSpecificSearchFilters" layout-wrap>

                        <!-- Title -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterTitle in $ctrl.filters.specific.title">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Operador</label>
                                        <md-select ng-model="filterTitle.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Título</label>
                                        <input ng-model="filterTitle.value" name="{{ 'title' + $index }}" md-maxlength="100" minlength="4">
                                        <div ng-messages="specificSearchForm['title' + $index].$error">
                                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                                            <div ng-message="md-maxlength">Máximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.title.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('title', 'value')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('title', 'value', filterTitle)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Author -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterAuthor in $ctrl.filters.specific.author">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Operador</label>
                                        <md-select ng-model="filterAuthor.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Autor</label>
                                        <input ng-model="filterAuthor.value" name="{{ 'author' + $index }}" md-maxlength="100" minlength="4">
                                        <div ng-messages="specificSearchForm['author' + $index].$error">
                                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                                            <div ng-message="md-maxlength">Máximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.author.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('author', 'value')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('author', 'value', filterAuthor)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Project -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterProject in $ctrl.filters.specific.comunarrProject">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Operador</label>
                                        <md-select ng-model="filterProject.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Proyecto</label>
                                        <md-select ng-model="filterProject.id">
                                            <md-option ng-repeat="project in $ctrl.comunarrProjects" ng-value="{{ project.id }}">
                                                {{ project.name }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.comunarrProject.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('comunarrProject', 'id')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('comunarrProject', 'value', filterProject)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Collective -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterCollective in $ctrl.filters.specific.collective">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Operador</label>
                                        <md-select ng-model="filterCollective.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Colectivo</label>
                                        <md-select ng-model="filterCollective.id" ng-disabled="$ctrl.filters.specific.comunarrProject.length === 0">
                                            <md-option ng-repeat="collective in $ctrl.collectives | filter:$ctrl.filterCollective($ctrl.filters.specific.comunarrProject)"
                                                ng-value="{{ collective.id }}">
                                                {{ collective.name }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.collective.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('collective', 'id')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('collective', 'value', filterCollective)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- General topics -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterGeneralTopic in $ctrl.filters.specific.generalTopic">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Tema general</label>
                                        <md-select ng-model="filterGeneralTopic.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Tema general</label>
                                        <md-select ng-model="filterGeneralTopic.id">
                                            <md-option ng-repeat="generalTopic in $ctrl.generalTopics" ng-value="{{ generalTopic.id }}">
                                                {{ generalTopic.name }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.generalTopic.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('generalTopic', 'id')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('generalTopic', 'value', filterGeneralTopic)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Specific topics -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterSpecificTopic in $ctrl.filters.specific.specificTopic">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Tema específico</label>
                                        <md-select ng-model="filterSpecificTopic.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Tema específico</label>
                                        <md-select ng-model="filterSpecificTopic.id">
                                            <md-option ng-repeat="specificTopic in $ctrl.specificTopics | filter: $ctrl.filterSpecificTopic($ctrl.filters.specific.generalTopic)"
                                                ng-value="{{ specificTopic.id }}">
                                                {{ specificTopic.name }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.specificTopic.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('specificTopic', 'id')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('specificTopic', 'value', filterSpecificTopic)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Content types -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterContentType in $ctrl.filters.specific.contentType">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Tipo de contenido</label>
                                        <md-select ng-model="filterContentType.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Tipo de contenido</label>
                                        <md-select ng-model="filterContentType.id">
                                            <md-option ng-repeat="contentType in $ctrl.contentTypes" ng-value="{{ contentType.id }}">
                                                {{ contentType.name }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.contentType.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('contentType', 'id')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('contentType', 'value', filterContentType)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- @todo Place -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterTitle in $ctrl.filters.specific.title">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Lugar</label>
                                        <md-select ng-model="filterTitle.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Título</label>
                                        <input ng-model="filterTitle.value" name="{{ 'title' + $index }}" md-maxlength="100" minlength="4">
                                        <div ng-messages="specificSearchForm['title' + $index].$error">
                                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                                            <div ng-message="md-maxlength">Máximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.title.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('title', 'value')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('title', 'value', filterTitle)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- @todo Related date -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterTitle in $ctrl.filters.specific.title">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Fecha del documento</label>
                                        <md-select ng-model="filterTitle.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Fecha del documento</label>
                                        <input ng-model="filterTitle.value" name="{{ 'title' + $index }}" md-maxlength="100" minlength="4" type="date">
                                        <div ng-messages="specificSearchForm['title' + $index].$error">
                                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                                            <div ng-message="md-maxlength">Máximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.title.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('title', 'value')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('title', 'value', filterTitle)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- @todo File type -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterTitle in $ctrl.filters.specific.title">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Tipo de archivo</label>
                                        <md-select ng-model="filterTitle.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Título</label>
                                        <input ng-model="filterTitle.value" name="{{ 'title' + $index }}" md-maxlength="100" minlength="4">
                                        <div ng-messages="specificSearchForm['title' + $index].$error">
                                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                                            <div ng-message="md-maxlength">Máximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.title.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('title', 'value')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('title', 'value', filterTitle)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- @todo Update date -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterTitle in $ctrl.filters.specific.title">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Fecha de actualización</label>
                                        <md-select ng-model="filterTitle.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Título</label>
                                        <input ng-model="filterTitle.value" name="{{ 'title' + $index }}" md-maxlength="100" minlength="4">
                                        <div ng-messages="specificSearchForm['title' + $index].$error">
                                            <div ng-message="minlength">Mínimo 4 caracteres</div>
                                            <div ng-message="md-maxlength">Máximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.title.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('title', 'value')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('title', 'value', filterTitle)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- @todo Keywords -->
                        <section flex="33">
                            <div layout-padding layout-margin md-whiteframe="1">
                                <div layout="row" layout-align="start start" ng-repeat="filterContentType in $ctrl.filters.specific.contentType">
                                    <md-input-container class="md-block" ng-hide="$first">
                                        <label>Palabras clave</label>
                                        <md-select ng-model="filterContentType.op" ng-disabled="$first">
                                            <md-option ng-value="'OR'" ng-if="$first"> OR </md-option>
                                            <md-option ng-value="'AND'" ng-selected="!$first"> AND </md-option>
                                            <md-option ng-value="'NOT'"> NOT </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex>
                                        <label>Tipo de contenido</label>
                                        <md-select ng-model="filterContentType.id">
                                            <md-option ng-repeat="contentType in $ctrl.contentTypes" ng-value="{{ contentType.id }}">
                                                {{ contentType.name }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <div ng-if="$first">
                                        <md-button ng-disabled="$ctrl.filters.specific.contentType.length >= 5" class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.addFilter('contentType', 'id')">
                                            <md-icon>add</md-icon>
                                            <md-tooltip>
                                                Añadir filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>

                                    <div ng-if="!$first">
                                        <md-button class="md-primary md-raised md-fab md-mini" ng-click="$ctrl.deleteFilter('contentType', 'value', filterContentType)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>
                                                Eliminar filtro
                                            </md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </aside>

                    <aside layout="row" layout-margin layout-align="start center">
                        <div>
                            <md-checkbox class="md-primary" ng-model="$ctrl.showSpecificSearchFilters" aria-label="mostrar filtros">
                                Mostrar filtros
                            </md-checkbox>
                        </div>
                        <span flex></span>
                        <div>
                            <md-button class="md-primary md-raised" ng-click="$ctrl.search('specific')" ng-disabled="specificSearchForm.$invalid"> Buscar </md-button>
                        </div>
                    </aside>
                </form>
            </md-tab>
        </md-tabs>
    </section>

    <!-- Results -->
    <section layout="row" ng-repeat="result in $ctrl.results" layout-align="start center" layout-padding layout-margin md-whiteframe="4">
        <div flex>
            <span class="md-headline">Nombre:</span> <span class="md-headline">{{ result.name }}</span>
            <br>
            <span class="md-subhead">Autor:</span> <span class="md-subhead">{{ result.author }}</span>
            <p>
                {{ result.comunarrProject }} > {{ result.collective }} > {{ result.generalTopic }}
            </p>
        </div>
        <div>
            <div layout="row" layout-align="start center">

                <img ng-src="./img/docs-icons/{{ result.fileType }}.svg" alt="archivo" class="square small" layout-margin>
                <div>
                    <md-button class="md-fab md-primary md-mini" ng-click="$ctrl.showDetail(result, $event)">
                        <md-icon>info_outline</md-icon>
                        <md-tooltip>
                            Ver detalle
                        </md-tooltip>
                    </md-button>
                </div>
                <div ng-if="$ctrl.userInfo.privacyType === 1 || $ctrl.userInfo.id === result.idUser">
                    <md-button class="md-fab md-primary md-mini" ng-click="$ctrl.addOrEditFile($event, 'edit', result)">
                        <md-icon>edit</md-icon>
                        <md-tooltip>
                            Editar
                        </md-tooltip>
                    </md-button>
                </div>
                <div>
                    <md-button class="md-fab md-primary md-mini" ng-click="$ctrl.downloadFile(result, $event)">
                        <md-icon>file_download</md-icon>
                        <md-tooltip>
                            Descargar archivo
                        </md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>
    </section>
</md-content>